* {box-sizing: border-box;}

body { 
  background-color: white;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}
 

/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

  #logo {
    font-family: 'Sacramento', cursive;
    color: black;
    font-size: 70px;
    transition: 0.4s;
    text-decoration: none;
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 45px 10px;
    transition: 0.4s;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(138, 209, 209, 0.746);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* MAIN TEXT AREA */

  /* HOME PAGE Styling */
  .container {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: auto;
  }
  
  #main-body-title {
    font-family: 'Barlow', sans-serif;
    color:  rgb(114, 182, 182);
  }
  #pg-1, #pg-2 {
    font-family: 'Patrick Hand SC', cursive;
    letter-spacing: 2px;
    font-size: 25px;
  }
  #phone-number {
    color: rgb(114, 182, 182);
    font-size: 25px;
  }

/* Our Team Styling */
#manage-team-title {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color:  rgb(114, 182, 182);
    font-size: 45px;
  }

  #center-dir-title {
    font-family: 'Barlow', sans-serif;
    color: rgb(245, 183, 67);
    font-size: 25px;
  }

  img {
      float: left;
      margin-right: 20px;
  }

  #description-1{
    font-family: 'Patrick Hand SC', cursive;
    letter-spacing: 2px;
    font-size: 25px;
  }
 /* Curriculum Styling */
 #main-body-title {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color:  rgb(114, 182, 182);
  }
  #curriculum-goals {
    font-family: 'Barlow', sans-serif;
    color:  rgb(114, 182, 182);
  }
  #pg-1, #pg-2 {
    font-family: 'Patrick Hand SC', cursive;
    letter-spacing: 2px;
    font-size: 25px;
  }
/* CLASSROOM STYLING */
img {
    height: 400px;
    width: auto;
  }
 
   #main-classroom-title{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color:  rgb(114, 182, 182);
    font-size: 50px;
  }
  .card {
    float: left;
    margin: 10px;
  }
  .card-title {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color:  rgb(245, 183, 67);
    font-size: 18px;
  }

  /* PROGRAMS */

  /* INFANTS STYLING */
  #infant-title {
    font-family: 'Barlow', sans-serif;
    color:  rgb(114, 182, 182);
    text-align: center;
  }

  #inf-1, #inf-2, #inf-3 {
    font-family: 'Patrick Hand SC', cursive;
    letter-spacing: 2px;
    font-size: 25px;
  }
  #infant-benefits {
    font-family: 'Barlow', sans-serif;
    text-align: left;
    color:  rgb(245, 183, 67);
    font-size: 22px;
  }
  #benefits {
    font-family: 'Barlow', sans-serif;
    color:  rgb(100, 96, 96);
  }